<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html::head (title = 'Registration Confirm')"></head>

<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card">
                <h5 class="card-header">Thank you for registering</h5>
                <div class="card-body">
                    <h5 class="card-title">We are almost finished, in order to login you must active your account.
                    </h5>
                    <h5 class="card-title">We have sent you email with a confirmation link.
                    </h5>
                    <a th:href="@{/login}" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
